<mat-tab-group>
    <mat-tab label="List">
        <button mat-button (click)="getTodos()">get list</button>
        <pre>{{todos$ | async | json}}</pre>
    </mat-tab>
    <mat-tab label="Details">
        <input #id (keyup)="onkey(id.value)">
        <button mat-button (click)="getTodo()">get item</button>
        <pre>{{todo$ | async | json}}</pre>
    </mat-tab>
    <mat-tab label="Add">
        <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
            <input type="text" formControlName="text" />
            <input type="checkbox" formControlName="completed">
        </form>
        <button mat-button (click)="addTodo()">add item</button>
        <pre>{{new_todo$ | async | json}}</pre>
    </mat-tab>
    <mat-tab label="Delete">
        <input #did (keyup)="onkeyd(did.value)">
        <button mat-button (click)="removeTodo()">delete item</button>
        <pre>{{op_result$ | async | json}}</pre>
    </mat-tab>
    <mat-tab label="Upload">

        <form [formGroup]="fileForm" (ngSubmit)="uploadFile()">
            <input type="file" (change)="handleFileInput($event.target.files)" formControlName="image" >
            <button type="submit">Submit</button>
        </form>
    </mat-tab>
</mat-tab-group>